<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Report for Account {{ account_report["account_number"] }}</title>
</head>
<body style="font-family: sans-serif; font-size: 16px; line-height: 1.5; margin: 0;padding: 0;">
    <img src="https://rick-vega-assets.s3.us-west-2.amazonaws.com/stori/stori-logo.png" alt="Stori Logo" width="100px">
    <hr style="height: 30px; background-color: transparent; border: none;">
    <p>Hello, Stori Customer <strong>{{ account_number }}</strong>.</p>
    <p>Here is the monthly report for your account.</p>
    <table style="width: 540px; border-collapse: collapse; border-spacing: 0;">
        <thead>
            <tr>
                <th style="font-size: 13px; padding-left: 4px; text-align:left">Total Balance</th>
                <th style="font-size: 13px; padding-left: 4px; text-align:left">Average Debit Amount</th>
                <th style="font-size: 13px; padding-left: 4px; text-align:left">Average Credit Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ account_report["total_balance"] }}</td>
                <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ account_report["average_debit_amount"] }}</td>
                <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ account_report["average_credit_amount"] }}</td>
            </tr>
        </tbody>
    </table>
    <hr style="height: 20px; background-color: transparent; border: none;">
    <table style="width: 540px;">
        <thead>
            <tr>
                <th style="font-size: 13px; padding-left: 4px; text-align: left">Year</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left">Month</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left"># Transact.</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left"># Debit Transact.</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left">Avg Debit Amount</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left"># Credit Transact.</th>
                <th style="font-size: 13px; padding-left: 4px; text-align: left">Avg Credit Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for year, months in account_report["monthly_transactions"].items() %}
              {% for month, data in months.items() %}
                <tr>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ year }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ month_names[month|int] }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ data['month_transactions_count'] }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ data['debit_transactions_count'] }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ data['debit_transaction_month_avg'] }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ data['credit_transactions_count'] }}</td>
                  <td style="font-size: 13px; padding-left: 4px; text-align:left">{{ data['credit_transaction_month_avg'] }}</td>
                </tr>
              {% endfor %}
            {% endfor %}
          </tbody>
    </table>
    <hr style="height: 20px; background-color: transparent; border: none;">
    <p>If you have any questions, please do not hesitate to reach us at 55-7822-6646 or <a style="text-decoration: underline;" href="mailto:stori.support@example.com">stori.support@example.com</a>.</p>
    <p>Thank you for being a Stori customer.</p>
</body>
</html>